#videoFondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
}

.texto {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    font-size: 30px;
    margin-top: 250px;
    font-weight: bold;
    color: rgb(242, 255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255); 
    
}
.tabla {
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse;
    margin-top: 20px;
}
.tabla th{
    border: 3px solid rgb(0, 0, 0);
    background: rgb(2, 39, 251);
    padding: 8px;
    text-align: center;
}
.tabla td {
    border: 3px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}
.td2{
    max-width: 140px;
}
.btn {
    padding: 10px 20px;
    margin-top: 10px; 
    background-color: rgb(249, 7, 7);
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;   
}

.btn2 {
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 20px; 
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 60px;
    border: none;
    cursor: pointer;   
}
.btn3 {
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px; 
    background-color: rgb(105, 199, 138);
    color: #fff;
    border-radius: 60px;
    border: none;
    cursor: pointer;   
}
