body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.error-container {
    text-align: center;
}

.error-title {
    font-size: 190px;
    font-weight: bold;
    margin-bottom: 1rem;
    animation: pulse 2s infinite;
}

.error-text {
    font-size: 1.125rem;
}

.animate-blink {
    animation: blink 1s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
