    /*===== GOOGLE FONTS =====*/
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
    /*===== VARIABLES CSS =====*/
        :root {
        --header-height: 3rem;
        /*========== Colores ==========*/
        --first-color: #064c9c;
        --first-color-alt: #db0b0b;
        --title-color: #393939;
        --text-color: #707070;
        --text-color-light: #A6A6A6;
        --body-color: #FBFEFD;
        --container-color: #FFFFFF;
        /*========== Font and typography ==========*/
        --body-font: 'Poppins', sans-serif;
        --biggest-font-size: 2.25rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
        /*========== Font weight ==========*/
        --font-medium: 500;
        --font-semi-bold: 600;
        /*========== Margenes ==========*/
        --mb-1: .5rem;
        --mb-2: 1rem;
        --mb-3: 1.5rem;
        --mb-4: 2rem;
        --mb-5: 2.5rem;
        --mb-6: 3rem;
        /*========== z index ==========*/
        --z-tooltip: 10;
        --z-fixed: 100;
        }

    @media screen and (min-width: 768px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
    }

    /*========== BASE ==========*/
    *, ::before, ::after {
    box-sizing: border-box;
    }

    html {
    scroll-behavior: smooth;
    }

    /*========== Variables Dark theme ==========*/
    body.dark-theme {
    --title-color: #F1F3F2;
    --text-color: #C7D1CC;
    --body-color: #1D2521;
    --container-color: #27302C;
    }

    /*========== Button Dark/Light ==========*/
    .change-theme {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
    }

    body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
    }

    h1, h2, h3, ul, p {
    margin: 0;
    }

    ul {
    padding: 0;
    list-style: none;
    }

    a {
    text-decoration: none;
    }

    img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    }

    /*========== CLASS CSS ==========*/
    .section {
    padding: 4rem 0 2rem;
    }

    .section-title, .section-subtitle {
    text-align: center;
    }

    .section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
    }

    .section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    }

    /*========== LAYOUT ==========*/
    .bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    }

    .bd-grid {
    display: grid;
    gap: 1.5rem;
    }

    .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    }

    /*========== NAV ==========*/
    .nav {
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    @media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
    }

    .nav__item {
    margin-bottom: var(--mb-2);
    }

    .nav__link, .nav__logo, .nav__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
    }

    .nav__logo:hover {
    color: var(--first-color);
    }

    .nav__link {
    transition: .3s;
    }

    .nav__link:hover {
    color: var(--first-color);
    }

    .nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
    }

    /* Show menu */
    .show-menu {
    top: var(--header-height);
    }

    /* Active menu */
    .active-link {
    color: var(--first-color);
    }

    /* Change background header */
    .scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Scroll top */
    .scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, 0.5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
    }

    .scrolltop:hover {
    background-color: var(--first-color-alt);
    }

    .scrolltop__icon {
    font-size: 1.8rem;
    color: var(--body-color);
    }

    .show-scroll {
    visibility: visible;
    bottom: 1.5rem;
    }

    /*========== HOME ==========*/
    .home__container {
    height: calc(100vh - var(--header-height));
    align-content: center;
    }

    .home__title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    }

    .home__subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
    }

    .home__img {
    width: 300px;
    justify-self: center;
    }

    /*========== BUTTONS ==========*/
    .button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
    }

    .button:hover {
    background-color: var(--first-color-alt);
    }

    /*========== MEDIA QUERIES ==========*/
    @media screen and (min-width: 576px) {
    .home__container,
    .about__container,
    .app__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .about__data, .about__initial,
    .app__data, .app__initial,
    .contact__container, .contact__initial {
        text-align: initial;
    }
    .about__img, .app__img {
        width: 380px;
        order: -1;
    }
    .contact__container {
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
    }
    .contact__button {
        justify-self: center;
    }
    }

    @media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 8rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }
    .change-theme {
        position: initial;
        margin-left: var(--mb-2);
    }
    .home__container {
        height: 100vh;
        justify-items: center;
    }
    .services__container,
    .menu__container {
        margin-top: var(--mb-6);
    }
    .menu__container {
        grid-template-columns: repeat(3, 210px);
        column-gap: 4rem;
    }
    .menu__content {
        padding: 1.5rem;
    }
    .menu__img {
        width: 130px;
    }
    .app__store {
        margin: 0 var(--mb-1) 0 0;
    }
    }

    @media screen and (min-width: 960px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
    .home__img {
        width: 500px;
    }
    .about__container, .app__container {
        column-gap: 7rem;
    }
    }

    /* For tall screens on mobiles y desktop*/
    @media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
    }
