  @import url(https://fonts.googleapis.com/css?family=Poppins:300);
  html {
  height: 100%;
  }
  body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: url(/TRABAJOFINAL/imagenes/carre.jpeg) center center fixed;
  background-size: cover;
  background-position: center;
  }
  
  .login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
  }
  .form {
  position: relative;
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 15px;
  }
  .form input {
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;

  }
  h2{
  color:white;
  }


  .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  }
  .form .message a {
  color:#0d52ff;
  text-decoration: none;
  }
  .form .register-form {
  display: none;
  }
  .btn {
  color: transparent;
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  color: #0d52ff;
  font-size: 16px;
  background: transparent;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 30px;
  letter-spacing: 2px;
  border: none; 
  outline: none;

  }
  .btn:hover {
  background:#0d52ff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px#0d52ff,
              0 0 25px#0d52ff,
              0 0 50px#0d52ff,
              0 0 100px#0d52ff;
  }

  .btn span {
  position: absolute;
  display: block;
  }

  .btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#0d52ff);
  animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
  }

  .btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,#0d52ff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
  }

  @keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
  }

  .btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#0d52ff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
  }

  @keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
  }

  .btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent,#0d52ff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
  }

  @keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
  }
  .btn-file {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  color:#0d52ff;
  font-size: 16px;
  background: transparent;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 15px;
  margin-right: 24px;
  letter-spacing: 3px;
  cursor: pointer;
  }

  .btn-file input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  }


